@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.container {
  width: 30%;
  height: 30%;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 3px solid rgba(255, 255, 255, .2);
  margin-top: 150px;
  padding: 20px 10px;
  border-radius: 15px;
}

.container h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.input-content {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px;
  

}

.input-content input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  outline: none;
  font-size: 16px;
  color: #fff;
  padding: 20px 40px 20px 20px;
}

.input-content input::placeholder{
  color: #fff;
}

.input-content svg{
  position: absolute;
  right: 20px;
  font-size: 5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  margin-bottom: 10px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 10px 10px;
}

.remember-forgot label input{
  accent-color: #fff;
  margin-right: 5px;
  color: #fff;
}

.remember-forgot a{
  text-decoration: none;
  color: #fff;
}


.remember-forgot a:hover {
  text-decoration: underline;
}

.login {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0,.1);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.login:hover{
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  color: #fff;
  transition: 0.5s;
}

.Link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.Link a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.Link a:hover{
  text-decoration: underline;
}

@media (max-width:768px){
  .container{
    width: 90%;
  }

  .container h1{
    font-size: 2rem;
  }
}